<footer>
    <div class="footer-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/results">Results</a>
    </div>
    <div class="footer-icon">
        <i class="fab fa-github"></i>
    </div>
</footer>