<nav>
    <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/results">Results</a></li>
    </ul>
    <button id="themeToggle">
        <span id="icon">🌞</span>
    </button>
</nav>